<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fevicon</title>
    <link rel="icon" href="./image.png" type="image/x-icon">
</head>
<body>
    <h1>&lt;&gt;&amp;&quot;&apos;&acE;</h1> 
    <img src="" alt=""/>
    <button></button>

    <div itemscope itemtype="https://schema.org/Product">
        <h1 itemprop="name">Product Name</h1>
        <span itemprop="description">Product Description</span>
        <span itemprop="price">$1</span>
    </div>

    <div itemscope itemtype="https://schema.org/Product">
        <h1 itemprop="name">Product Name</h1>
        <span itemprop="description">Product Description</span>
        <span itemprop="price">$1</span>
    </div>

</body>
</html>